
    <%- include('partials/header')  %> 

    <h1>Formulario de Tareas</h1>
    <form action="/add" class="formulario" method="POST">
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="description" name="description">
        <input type="submit" value="Save">
    </form>

    <%- include('partials/footer') %> 